<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>
    <a href="/registrar"><button>Registrar</button></a>
    <a href="/login"><button>Login</button></a>
    <a href="/comentario/nombre usuario"><button>Agregar comentario</button></a>
    <a href="/tarea"><button>Agregar tarea</button></a>
    <a href="/crearUsuario"><button>Crear Perfil</button></a>
    <a href="/crearProyecto"><button>Crear proyecto</button></a>
    <a href="/lista_proyectos"> <button>Detalles</button></a>
</body>

</html>